

<div class="ps-breadcrumb">
    <div class="ps-container">
        <ul class="breadcrumb">
            <li><a [routerLink]="['/home']">Trang chủ</a></li>
            <li><a [routerLink]="['/all-product']">Cửa hàng</a></li>
            <li>Chi tiết sản phẩm</li>
        </ul>
    </div>
</div>

<div class="row" style="min-height: 700px !important;" *ngIf="isLoading">
    <div class="spinner-border text-success" role="status" style="margin: auto; width: 6em;height: 6em;"></div>
</div>
<div class="ps-page--product" *ngIf="!isLoading">
    <div class="container-fluid pl-5 pr-5">
        <div class="ps-page__container">

            <div class="ps-page__left">
                <div class="ps-product--detail ps-product--fullwidth">
                    <div class="ps-product__header">
                        <div class="ps-product__thumbnail">
                            <figure>
                                <div class="ps-wrapper">
                                    <div class="ps-product__gallery">
                                        <div class="item">
                                                <div class="product-display">
                                                    <div class="main-image">


                                                    <!-- Ảnh chính -->

                                                    <div style="display: flex; justify-content: center ;">
                                                       <img style="width: 50%; aspect-ratio: 3/4;object-fit: cover;" src="http://localhost:8080/product/{{product.id}}/image-main">
                                                    </div>



                                                    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" style="height: 150px;" >
                                                        <div ngxSlickItem *ngFor="let item of productImage | paginate: { itemsPerPage: 8, currentPage: 0}" class="slide ">
                                                            <div class=" border border-1">
                                                                <div class="">

                                                                    <img [src]="'http://localhost:8080/product/' + item + '/image'" [ngClass]="{'thumbnail-image': true}">



                                                                </div>


                                                                <style>

                                                                    .thumbnail-image {
                                                                        aspect-ratio: 3/4;
                                                                        object-fit: cover; /* Maintain aspect ratio and cover the container */
                                                                    }


                                                                </style>
                                                            </div>
                                                        </div>
                                                    </ngx-slick-carousel>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </figure>
                        </div>

                        <div class="ps-product__info pl-5">
                            <h1 style=" font-size: 35px;">[{{product.code}}] {{product.name}}</h1>
                            <!-- <div class="ps-product__desc" *ngIf="getAvgRate(productdetail.id)>0">
                                <ngb-rating [rate]="getAvgRate(productdetail.id)" [starTemplate]="t" [readonly]="true" [max]="5"
                                        title="{{getAvgRate(productdetail.id)}} sao">
                                </ngb-rating>
                                ({{countRate}} đánh giá)
                            </div> -->
                            <!-- <p >Size:<a href="javascript:void(0);"><strong>{{productdetail.size.name}}</strong></a></p>
                            <p class="ps-product__price sale">
                                <del *ngIf="productdetail.price != 0">{{productdetail.price|currency:'VND'}}</del>
                                {{productdetail.price*(1 - productdetail.amount/100) | currency:'VND'}}

                                <del *ngIf="productdetail.amount != 0">{{productdetail.price}}</del>
                                {{productdetail.price*(1 - productdetail.amount/100)}}
                            </p> -->

                            <p style=" font-size: 18px;">
                                Thương Hiệu: <a href="javascript:void(0);"><strong>{{product.brand.name}}</strong></a>
                            </p>

                            <p style="font-size: 18px;">
                                Thể loại: <a href="javascript:void(0);"><strong>{{product.category.name}}</strong></a>
                            </p>

                            <p style=" font-size: 18px;">
                                Loại đế: <a href="javascript:void(0);"><strong>{{product.sole.name}}</strong></a>
                            </p>






                            <section class="flex items-center" style="margin-bottom: 20px; align-items: baseline;">
                                <h3 class="oN9nMU" style="color: black;">Màu Sắc</h3>
                                <div class="row items-center bR6mEk">
                                    <label *ngFor="let item of colors" class="color-checkbox col-3">
                                        <input type="radio" (change)="selectedColor($event)" name="colorId" value="{{item.id}}" class="color-checkbox-input" #colorRadio > {{item.name}}
                                    </label>
                                </div>
                            </section>



                            <section *ngIf="showColorSection" class="flex items-center" style="margin-bottom: 20px; align-items: baseline;">
                                <h3 class="oN9nMU" style="color: black;">Size</h3>
                                <div class="row items-center bR6mEk">
                                    <label *ngFor="let item of sizes" class="color-checkbox col-3">
                                        <input type="radio" name="sizeId" (change)="getProductDetail($event)" value="{{item.id}}" class="color-checkbox-input"> {{item.size}}
                                    </label>
                                </div>
                            </section>


                            <p *ngIf="showPrice" style="font-size: 24px;">
                                Giá: <strong>{{productdetail?.price| currency:'VND' }}</strong>
                            </p>


                            <style>
                                .color-checkbox {
                                    padding: 5px;
                                    font-size: 20px;
                                }

                                .color-checkbox-input {
                                    /* Bổ sung các quy tắc kiểu checkbox nếu cần thiết */
                                }

                                .hUWqqt {
                                    /* Bổ sung các quy tắc kiểu nút màu nếu cần thiết */
                                }
                            </style>




                            <script>
                                function handleCheckboxChange(checkboxId) {
                                    const checkboxes = document.querySelectorAll('.color-checkbox-input');
                                    checkboxes.forEach((checkbox) => {
                                        if (checkbox.id !== checkboxId) {
                                            checkbox.checked = false;
                                        }
                                    });
                                }
                            </script>



                            <div class="ps-product__shopping">
                                <a class="ps-btn ps-btn--black" (click)="addCart()" href="javascript:void(0);" >Thêm Giỏ Hàng</a>


                                 <!-- <div class="cssyt" style="color: coral;">Yêu thích</div> -->
<!--
                                    <a href="javascript:void(0);" (click)="toggleLike(product.id)" data-toggle="tooltip" data-placement="top" title="Yêu Thích">
                                      <i class="icon-heart1" [ngClass]="{ 'liked': productLikes[product.id] }"></i>
                                    </a> -->


                            </div>
                            <div class="ps-product__sharing"><a class="facebook" href="#"><i class="fa fa-facebook"></i></a><a class="twitter" href="#"><i class="fa fa-twitter"></i></a><a class="google" href="#"><i class="fa fa-google-plus"></i></a><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></div>
                        </div>
                    </div>

                    <div >
                      <ul class="ps-tab-list">
                          <li class="active"><a href="javascript:void(0);">Mô tả sản phẩm</a></li>
                      </ul>
                      <div class="ps-tab active" id="tab-1">
                            <p style="font-size: 18 px;">{{product.description}}</p>
                      </div>
                  </div>

                  <!-- <div >
                    <ul class="ps-tab-list">
                        <li class="active"><a href="javascript:void(0);">Đánh giá sản phẩm</a></li>
                    </ul>
                    <div class="ps-tab active" id="tab-1">
                        <div class="table-responsive">
                            <p *ngIf="rates.length==0" style="text-decoration: underline;">Sản phẩm này chưa có đánh giá nào.</p>
                            <div class="row">
                                <div class="col-10">
                                    <table class="table table-bordered ps-table ps-table--specification">
                                        <tbody>
                                            <tr *ngFor="let item of rates | paginate: { itemsPerPage: itemsComment, currentPage: 1}">
                                                <td>
                                                    <a [href]="item.user.image">
                                                    <img [src]="item.user.image" alt="" /></a>
                                                </td>
                                                <td>
                                                    <h5>
                                                        Họ và Tên: <a>{{item.user.name}}</a><br>
                                                    </h5>
                                                    <h5>
                                                        Ngày: <span>{{item.rateDate|date:'dd-MM-yyyy'}}</span>
                                                    </h5>
                                                    <h5>
                                                        Đánh giá:
                                                        <ngb-rating class="ml-2" [(rate)]="item.rating"
                                                            title="{{item.rating}} sao" [starTemplate]="t" [readonly]="true" [max]="5">
                                                        </ngb-rating>
                                                    </h5>
                                                    <h5>
                                                        Nội dung :
                                                        <p style="color: #09c; font-size: 16px;">
                                                            {{item.comment}}
                                                        </p>
                                                    </h5>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-2" *ngIf="rates.length!=0">
                                    <div class="padding-right">
                                        <h5>Hiển thị: </h5>
                                        <select class="product-short-select custom-select ml-auto"
                                            style="font-size: 14px;"
                                            [(ngModel)]="itemsComment"
                                            (change)="setItemsComment(itemsComment)">
                                            <option selected value="3">3</option>
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="100">10</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->

                </div>
            </div>


            <div class="ps-page__right">
                <aside class="widget widget_product widget_features">
                    <p><i class="icon-network"></i> Vận chuyển toàn quốc</p>
                    <p><i class="icon-3d-rotate"></i> Hoàn trả miễn phí trong 7 ngày nếu đủ điều kiện</p>
                    <p><i class="icon-receipt"></i> Nhà cung cấp đưa ra hóa đơn cho sản phẩm này</p>
                    <p><i class="icon-credit-card"></i> Thanh toán trực tuyến hoặc khi nhận hàng</p>
                </aside>

                <aside class="widget widget_sell-on-site">
                    <p><i class="icon-store"></i> Bán trên web?<a *ngIf="isLoggedOut" (click)="checklogindk()" [style.color]="'blue'"> Đăng ký ngay !</a></p>
                </aside>



                <aside class="widget widget_ads"><a href="#"><img src="img/ads/1.png" alt=""></a></aside>
            </div>
        </div>

    </div>
</div>

<!-- star -->
<ng-template #t let-fill="fill">
    <span class="star" [class.full]="fill === 100" style="font-size: 90%;">
        <span class="half" [style.width.%]="fill">
            <i class="fa fa-star"></i>
        </span>
        <i class="fa fa-star"></i>
    </span>
</ng-template>
