<main class="ps-page--my-account">
    <div class="ps-breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a [routerLink]="['/home']">Trang chủ</a></li>
                <li><a [routerLink]="['/profile']">Thông tin cá nhân</a></li>
            </ul>
        </div>
    </div>
      <form style="" [formGroup]="profileForm" class="row p-5">
        
          <div class="form-group col-6">
            <label for="name">Họ và Tên: 
            </label>
              <input class="form-control" type="text" id="name" formControlName="name"  name="name" >
          </div>
          <div class="form-group col-2">
            <label for="gender">Gioi tinh:</label>
            <select class="form-control" id="gender" formControlName="gender" name="gender">
              <option value="true">Nam</option>
              <option value="false">Nữ</option>
            </select>
          </div>
          <div class="form-group col-4">
            <label for="phoneNumber">Số điện thoại:</label>
            <input class="form-control" type="tel" formControlName="phoneNumber" id="phoneNumber" name="phoneNumber" >
          </div>
          <div class="form-group col-4">
            <label>Chọn tỉnh thành<sup>*</sup>
            </label>
            <div class="form-group__content">
              <select style="font-size: 16px;" class="product-short-select custom-select" id="city" #citySelect
                (change)="setProvinceCode($event)" formControlName="city"
                [ngClass]="{'is-invalid':profileForm.get('city')?.touched && profileForm.get('city')?.invalid}">
                <option value="0" selected disabled>Chọn tỉnh thành</option>
                <option *ngFor="let item of provinces" [attr.data]="item.code" [value]="item.name">{{item.name}}</option>
              </select>
              <small class="invalid-feedback">Hãy chọn tỉnh thành của bạn</small>
            </div>
          </div>
          
          
          <div class="form-group col-4">
            <label>Chọn huyện/thành phố <sup>*</sup>
            </label>
            <div class="form-group__content">
              <select style="font-size: 16px;" class="product-short-select custom-select" id="district" #districtSelect
                (change)="setDistrictCode($event)" formControlName="district"
                [ngClass]="{'is-invalid':profileForm.get('district')?.touched && profileForm.get('district')?.invalid}">
                <option value="0" selected disabled>Chọn huyện/thành phố</option>
                <option *ngFor="let item of districts" [attr.data]="item.code" [value]="item.name">{{item.name}}</option>
              </select>
              <small class="invalid-feedback">Hãy chọn huyện/thành phố của bạn</small>
            </div>
          </div>
          
          <div class="form-group col-4">
            <label>Chọn phường/xã<sup>*</sup>
            </label>
            <div class="form-group__content">
              <select style="font-size: 16px;" class="product-short-select custom-select" id="ward" #wardSelect (change)="setWardCode($event)"
                formControlName="ward"
                [ngClass]="{'is-invalid':profileForm.get('ward')?.touched && profileForm.get('ward')?.invalid}">
                <option value="0" selected disabled>Chọn phường/xã</option>
                <option *ngFor="let item of wards" [attr.data]="item.code" [value]="item.name">{{item.name}}</option>
              </select>
              <small class="invalid-feedback">Hãy chọn phường/xã của bạn</small>
            </div>
          </div>
          
          <div class="form-group">
            <input [ngClass]="{'is-invalid':profileForm.get('address')?.touched && profileForm.get('address')?.invalid}"
              formControlName="address"  class="form-control" type="text" placeholder="Địa chỉ">
          </div>
        
          <div class="form-group">
            <label for="email">Email:</label>
            <input class="form-control" readonly type="email" id="email" name="email" formControlName="email" >
          </div>
          
          
          <div class="form-group d-flex justify-content-center">
           <button class="btn btn-primary btn-lg" (click)="changeProfile()" type="button">Thay đổi thông tin</button>
          </div>




      </form>
 
    
</main>